---
import "../styles/global.css";

interface Props {
	title?: string;
	description?: string;
}

const { title = "álex santos", description = "Software Developer" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" href="/favicon-monked.ico" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen bg-neutral-950 text-neutral-100 antialiased">
		<slot />
	</body>
</html>
